body {
    font-family: Comfortaa, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
}


button {
    background-color: #5cb85c;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
